.address{
    cursor: pointer;
}
.list{
    list-style: none;
}
.choose-one-box{
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: black 1px solid;
    border-radius: 2px;
}
.choosed{
     width: 14px;
     height: 14px;
     margin-bottom: 3px;
 }
#confirm{
    line-height: 40px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}