#a-visited{
    text-decoration:none;
    color:#0282d3;
    border-left:4px solid #0282d3;
}

/* container-right */
.container-right{
    width:1000px;
    /*min-height:1200px;*/
    background-color:#ffffff;
    box-shadow: 10px 10px 10px #f1f1f1;
    float:left;
    margin-left:50px;
}
.container-right-div{
    width:1000px;
    min-height:1200px;
    padding-top:50px;
}
/* dropdown search*/
.drop-form{
    width:960px;
    height:60px;
    border:1px solid #ddd;
    padding-top:14px;
}

.btn-group{
    margin-left:250px;
    width:100px;
    height:30px;
    float:left;
}
.input-group{
    width:300px;
    height:30px;
    margin-left:50px;
    float:left;
}


.nav-location{
    margin-left:20px;
    border-bottom: none;
}
.no-active{
    color:#555555;
}

.MyOrderOpt{
    width:960px;
    height:40px;
    background-color:#f5f5f5;
    margin-top:20px;
    z-index:1;
}
.MyOrderOpt div:first-child{
    width:400px;
}
.MyOrderOpt div{
    float:left;
    width:120px;
    height:40px;
    line-height:40px;
    border-right:1px solid #ddd;
}
.MyOrderOpt div:last-child{
    width:160px;
    border-right:none;
}
.MyOrderPersonalList{
    margin-top:20px;
    width:960px;
    height:400px;
    z-index:1;
}

.user-order-info{
    width:960px;
    height:200px;
    margin-top:20px;
}
.order-info-title-div{
    width:960px;
    height:40px;
    background-color:#f5f5f5;
}
.order-info-title{
    padding-left:40px;
    text-align: left;
    font-size:14px;
    line-height:40px;
}
.order-info-detail{
    width:960px;
    height:150px;
    border:1px solid #f5f5f5;
    padding-left:14px;
    padding-right:14px;
}
.order-info-detail div{
    float:left;
}
.order-info-detail-img{
    width:160px;
    height:120px;
    margin-top:14px;
}
.order-info-detail-img:hover{
    -webkit-box-shadow: #00A0DC 0px 0px 8px;
    -moz-box-shadow: #00A0DC 0px 0px 8px;
    box-shadow: #00A0DC 0px 0px 8px;
}
.order-info-detail-img img{
    width:160px;
    height:120px;
}
.order-info-detail-info{
    text-align: left;
    width:240px;
    height:150px;
    padding-top:14px;
    padding-left:15px;
    padding-right:15px;
    font-size:14px;
    color:#999999;
}
.order-info-detail-info p a{
    font-size:18px;
    color:#2aabd2;
}
.order-info-detail-number{
    width:120px;
    height:150px;
    padding-top:30px;
    border-left:1px solid #f5f5f5;
}
.order-info-detail-total{
    width:120px;
    height:150px;
    padding-top:30px;
    border-left:1px solid #f5f5f5;
}
.order-info-detail-status{
    width:120px;
    height:150px;
    padding-top:30px;
    border-left:1px solid #f5f5f5;
}
.order-info-detail-operate{
    width:160px;
    height:150px;
    padding-top:30px;
    border-left:1px solid #f5f5f5;
}